<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lapharcius.randomstudent">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/random_student_icon"
        android:label="Random Student"
        android:supportsRtl="true"
        android:theme="@style/AppThemeWithActionBar">
        <activity
            android:name=".DisplayStudents"
            android:label="@string/title_activity_display_students"
            android:theme="@style/AppThemeWithActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SetupScreen"
            android:parentActivityName=".DisplayStudents">
            <intent-filter>
               <action android:name="android.intent.action.Setup" />
            </intent-filter>
        </activity>
    </application>

</manifest>